.mePhoto {
  display: block;
  margin: auto;
  border-radius: 25%;
  background-image: url('../assets/img/mePhoto.jpg');
  background-repeat: none;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.biopannel{
  height: 300px;
  text-align: justify;	
}

.contactInfo{
  text-align: left;
}


h4.info {
  vertical-align: middle;
}