h2 Portfolio

.project
	h1 Craig's Bay 
	img.projectImg(src='assets/img/craigsBay.png')
	h3 A site for swapping and bartering items. Features geocoding through google.
	h4 Technologies used: Javascript, Express, NodeJS, MongoDB
	h4 Team:  Zoe Ames, Mikey Badr, Logan Richardson
	a.btn.btn-primary(href='http://craigs-bay.mikeyb.net/'): i.fa.fa-play.fa-2x  &nbsp Play
	a.btn.btn-info(href='https://github.com/mfbadr/craigs-bay'): i.fa.fa-github-alt.fa-2x &nbsp Github

.project
	h1 i-Fit
	img.projectImg(src='assets/img/i-fit.png')
	h3 Angular exercise and calorie tracker("helps u-Fit into your clothes").
	h4 Team:  Brian Hiatt, Matt Keef
	a.btn.btn-primary(href='http://portfolio.bchiatt.co/'): i.fa.fa-play.fa-2x  &nbsp Play
	a.btn.btn-info(href='https://github.com/bchiatt/i-fit.git'): i.fa.fa-github-alt.fa-2x &nbsp Github

.project
	h1 inTouch
	img.projectImg(src='assets/img/inTouch.png')
	h3 MEAN Full Stack Contact Manager.
	h4 Team:  Michael Barreiro, Sarah Pearson, Joy Pratt, Jessica Raines
	a.btn.btn-primary(href='http://intouch.joympratt.com/'): i.fa.fa-play.fa-2x  &nbsp Play
	a.btn.btn-info(href='https://github.com/JoyP/intouch'): i.fa.fa-github-alt.fa-2x &nbsp Github

.project
	h1 Research Collaborator (Mid-term Capstone)
	h3 MEAN Full Stack Project Management website to support collaborative research through project tracking.  Special features include:  File Upload, File Download, Doubly-nested async.map.
	a.btn.btn-info(href='https://github.com/jbrooks036/capstone1'): i.fa.fa-github-alt.fa-2x &nbsp Github

.project
	h1 Pickers Tunes (Final Capstone)
	h3 ASP.NET MVC 5 Web API for Catalog of Bluegrass Music.
	a.btn.btn-primary(href='http://pickerstunes.azurewebsites.net'): i.fa.fa-play.fa-2x  &nbsp Play
	a.btn.btn-info(href='https://github.com/jbrooks036/PickersTunes'): i.fa.fa-github-alt.fa-2x &nbsp Github



