h1 Jo Ann Brooks
h2 Software Developer 2.0

 #spacermiddle
  .row
    .col-md-6.col-lg-4
      .mePhoto
    .col-md-6.col-lg-7
      .biopannel
        h4.info I am returning to my roots in software development, after an extended hiatus studying organizational aspects of IT in use. I am currently attending Nashville Software School, and will graduate at the end of March 2015. Now familiar with both the .NET Framework and the MEAN Stack, I bring years of programming experience to bear on the work of developing websites. I am happiest writing code that connects front and back ends using AngularJS, C#, Entity Framework, JavaScript and/or Node.js. I can also bring rich experience to bear in areas of software requirements analysis, usability, and project management. 
      .contactInfo
        h4.info joannbrooks036@gmail.com
     

 
 a.btn.btn-default(href='http://www.linkedin.com/in/joannbrooks036'): i.fa.fa-linkedin.fa-2x  &nbsp linkedin
 a.btn.btn-default(href='http://www.linkedin.com/in/joannbrooks036'): i.fa.fa-medium.fa-2x  &nbsp blog

