
<h1>Jo Ann Brooks</h1>
<h2>Software Developer 2.0
  <div id="spacermiddle">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="mePhoto"></div>
      </div>
      <div class="col-md-6 col-lg-7">
        <div class="biopannel">
          <h4 class="info">I am a recent graduate of Nashville Software School. Familiar with both the .NET Framework and the MEAN Stack, I am happiest writing code that connects front and back ends using AngularJS, C#, Entity Framework, JavaScript and/or Node.js. I also bring rich experience in areas of software requirements analysis, usability, and project management, developed during my former career as a sociologist studying organizations and IT. </h4>
        </div>
        <div class="contactInfo">
          <h4 class="info">joannbrooks036@gmail.com</h4>
        </div>
      </div>
    </div>
  </div><a href="http://www.linkedin.com/in/joannbrooks036" target="_blank" class="btn btn-primary"><i class="fa fa-linkedin fa-2x"> &nbsp linkedin</i></a><a href="https://github.com/jbrooks036" target="_blank" class="btn btn-info"><i class="fa fa-github-alt fa-2x">&nbsp Github</i></a>
</h2>
