
<h1>Jo Ann Brooks</h1>
<h2>Software Developer 2.0
  <div id="spacermiddle">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="mePhoto"></div>
      </div>
      <div class="col-md-6 col-lg-7">
        <div class="biopannel">
          <h4 class="info">I am returning to my roots in software development, after an extended hiatus studying organizational aspects of IT in use. I am currently attending Nashville Software School, and will graduate at the end of March 2015. Now familiar with both the .NET Framework and the MEAN Stack, I bring years of programming experience to bear on the work of developing websites. I am happiest writing code that connects front and back ends using AngularJS, C#, Entity Framework, JavaScript and/or Node.js. I can also bring rich experience to bear in areas of software requirements analysis, usability, and project management. </h4>
        </div>
        <div class="contactInfo">
          <h4 class="info">joannbrooks036@gmail.com</h4>
        </div>
      </div>
    </div>
  </div><a href="http://www.linkedin.com/in/joannbrooks036" target="_blank" class="btn btn-primary"><i class="fa fa-linkedin fa-2x"> &nbsp linkedin</i></a><a href="https://medium.com/@jbrooks036" target="_blank" class="btn btn-default"><i class="fa fa-medium fa-2x"> &nbsp blog</i></a><a href="https://github.com/jbrooks036" target="_blank" class="btn btn-info"><i class="fa fa-github-alt fa-2x">&nbsp Github</i></a>
</h2>