
<h2>Portfolio</h2>
<div class="project">
  <h1>Craig's Bay </h1><img src="assets/img/craigsBay.png" class="projectImg">
  <h3>A site for swapping and bartering items. Features geocoding through google.</h3>
  <h4>Technologies used: Javascript, Express, NodeJS, MongoDB</h4>
  <h4>Team:  Zoe Ames, Mikey Badr, Logan Richardson</h4><a href="http://craigs-bay.mikeyb.net/" class="btn btn-primary"><i class="fa fa-play fa-2x"> &nbsp Play</i></a><a href="https://github.com/jbrooks036/craigs-bay" class="btn btn-info"><i class="fa fa-github-alt fa-2x">&nbsp Github</i></a>
</div>
<div class="project">
  <h1>i-Fit</h1><img src="assets/img/i-fit.png" class="projectImg">
  <h3>Angular exercise and calorie tracker("helps u-Fit into your clothes").</h3>
  <h4>Team:  Brian Hiatt, Matt Keef</h4><a href="http://portfolio.bchiatt.co/" class="btn btn-primary"><i class="fa fa-play fa-2x"> &nbsp Play</i></a><a href="https://github.com/jbrooks036/i-fit.git" class="btn btn-info"><i class="fa fa-github-alt fa-2x">&nbsp Github</i></a>
</div>
<div class="project">
  <h1>inTouch</h1><img src="assets/img/inTouch.png" class="projectImg">
  <h3>MEAN Full Stack Contact Manager.</h3>
  <h4>Team:  Michael Barreiro, Sarah Pearson, Joy Pratt, Jessica Raines</h4><a href="http://intouch.joympratt.com/" class="btn btn-primary"><i class="fa fa-play fa-2x"> &nbsp Play</i></a><a href="https://github.com/jbrooks036/intouch.git" class="btn btn-info"><i class="fa fa-github-alt fa-2x">&nbsp Github</i></a>
</div>
<div class="project">
  <h1>Research Collaborator (Mid-term Capstone)</h1>
  <h3>MEAN Full Stack Project Management website to support collaborative research through project tracking.  Special features include:  File Upload, File Download, Doubly-nested async.map.</h3><a href="https://github.com/jbrooks036/capstone1" class="btn btn-info"><i class="fa fa-github-alt fa-2x">&nbsp Github</i></a>
</div>
<div class="project">
  <h1>Pickers Tunes (Final Capstone)</h1>
  <h3>ASP.NET MVC 5 Web API for Catalog of Bluegrass Music.</h3><a href="http://pickerstunes.azurewebsites.net" class="btn btn-primary"><i class="fa fa-play fa-2x"> &nbsp Play</i></a><a href="https://github.com/jbrooks036/PickersTunes" class="btn btn-info"><i class="fa fa-github-alt fa-2x">&nbsp Github</i></a>
</div>